.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.9rem;
  border-radius: 0.63rem;
  background: var(--gradient-bar);
  &__content {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    h4 {
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.87rem;
      letter-spacing: 0em;
      text-align: left;
      color: #0e0e0e;

      @media screen and (max-width: 43.75rem) {
        line-height: 1.4rem;
      }
    }
    h2 {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: 2.8rem;
      letter-spacing: 0em;
      text-align: left;
      @media screen and (max-width: 43.75rem) {
        font-size: 1.1rem;
        line-height: 2rem;
      }
    }
    @media screen and (max-width: 76.5rem) {
      margin-bottom: 1rem;
    }
  }
  &__button {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      min-width: 11.8rem;
      padding: 0.8rem 2.6rem;
      border-radius: 2.5rem;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.87rem;
      letter-spacing: 0em;
      border: none;
      background-color: black;
      color: #fff;
      cursor: pointer;
      @media screen and (max-width: 43.75rem) {
        font-size: 1rem;
      }
      @media screen and (max-width: 34.37rem) {
        font-size: 0.8rem;
      }
    }
    @media screen and (max-width: 76.5rem) {
      margin-top: 1rem;
      justify-content: center;
    }
  }
  @media screen and (max-width: 76.5rem) {
    flex-direction: column;
    align-items: unset;
    padding: 2rem;
  }
}
