.blog {
  display: flex;
  flex-direction: column;
  &__heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
    h1 {
      font-size: 3.87rem;
      font-style: normal;
      font-weight: 800;
      line-height: 4.6rem;
      letter-spacing: -0.04em;
      text-align: left;
      @media screen and (max-width: 43.75rem) {
        font-size: 3rem;
        line-height: 3.75rem;
      }
      @media screen and (max-width: 34.37rem) {
        font-size: 2.2rem;
        line-height: 2.5rem;
      }
    }
  }
  &__container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    &--bigBox {
      flex: 0.75;
      margin-right: 3.25rem;
      .article {
        // &__content{
        //   &--topSide{
        //     h3{

        //     }
        //   }
        // }
        &__img {
          img {
            @media screen and (max-width: 76.5rem) {
              max-height: 13.5rem;
            }
          }
        }
        @media screen and (max-width: 76.5rem) {
          width: 48%;
        }
        @media screen and (max-width: 43.75rem) {
          width: 100%;
        }
      }
      @media screen and (max-width: 76.5rem) {
        margin: 2rem 0;
      }
    }
    &--smallBox {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3.25rem;
      .article {
        &__content {
          &--topSide {
            h3 {
              font-size: 1.25rem;
            }
          }
        }
      }
      @media screen and (max-width: 76.5rem) {
        grid-gap: 2rem;
      }
      @media screen and (max-width: 43.75rem) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    @media screen and (max-width: 76.5rem) {
      flex-direction: column-reverse;
    }
  }
}
